[Desktop Entry]
Encoding=UTF-8
Name=Penguin
Comment=Penguin P2P Cryptocurrency
Comment[fr]=Penguin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Penguin, eşten eşe kriptografik sanal para birimi
Exec=penguin-qt %u
Terminal=false
Type=Application
Icon=penguin128
MimeType=x-scheme-handler/penguin;
Categories=Office;Finance;
